@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  text-align: center;
  font-size: var(--son-font-m);
  font-family: "Montserrat", serif;
  font-style: normal;
  font-weight: 400;
  color: var(--son-color-font);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100dvh;
  background-color: var(--son-color-white);
}

h1, h1 > * , h2, h2 > * {
  font-size: var(--son-font-xl);
  font-family: "Josefin Sans", Impact, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
}

:root {
  /* COLORS */
  --son-color-white: #FFFFFF;
  --son-color-bg1: #1D8C9A;
  --son-color-bg2: #A0E9DE;
  --son-color-icons: #7EDDD2;
  --son-color-black: #000000;
  --son-color-font: var(--son-color-black);
  --son-color-font-special: #4f5658;
  --son-color-hero: #F4F6F5;

  /* FONT SIZES */
  --son-font-xxxl: 50px;
  --son-font-xl: 36px;
  --son-font-l: 25px;
  --son-font-m: 16px;
  --son-font-s: 12px;
  --son-font-xs: 10px;

  /* SPACINGS */

  /* RADIUS */
  --son-radius-primary: 20px;
  --son-radius-secundary: 10px;
  --son-radius-buttons: 5px;

  /* PADDING */
  --son-padding-xs: 5px;
  --son-padding-s: 10px;
  --son-padding-m: 20px;
  --son-padding-l: 30px;
  --son-padding-xl: 40px;
  --son-padding-xxl: 60px;
  --son-padding-xxxl: 80px;

  /* MARGIN */
  --son-margin-xs: 5px;
  --son-margin-s: 10px;
  --son-margin-m: 20px;
  --son-margin-l: 30px;
  --son-margin-xl: 40px;

  /* GAP */
  --son-gap-s: 10px;
  --son-gap-m: 15px;
  --son-gap-l: 20px;
  --son-gap-xl: 30px;
}

/*! @media (max-width: 750px) { */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 750px) {
  .container {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 5px;
  }
}

#header {
  height: 80px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding:var(--son-padding-s) var(--son-padding-m);
}

#header > ul {
  display: flex;
  gap: var(--son-gap-xl);
  align-items: center;
  flex-direction: row;
}

#header > ul > li:last-child{
  background-color: var(--son-color-bg1);
  padding: var(--son-padding-s);
  border-radius: var(--son-radius-secundary);
}

#header > ul > li > a {
  font-weight: 500;
}

#header > ul > li:last-child > a {
  color: var(--son-color-white);
}

main > *:not(:last-child) {
  margin: 0 20px;
}

#hero {
  height: 550px;
  display: flex;
  align-items: center;
  background-color: var(--son-color-hero);
  border-radius: var(--son-radius-primary);
  margin-bottom: var(--son-margin-l);
}

#hero div {
  width: 50%;
  height: 100%;
}

#hero > .info {
  position: relative;
}

#hero > .info > h2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: var(--son-gap-l);
  text-align: start;
  padding-left: var(--son-padding-xxxl);
}

#hero > .info > h2 > span {
  font-size: var(--son-font-xxxl);
  font-weight: 700;
  z-index: 1;
}

#hero .wrapper img {
  width: 100%;
  height: 100%;
}

#hero .box-1 {
  height: 70px;
  width: 200px;
  position: absolute;
  top: 165px;
  left: 65px;
  background-color: var(--son-color-icons);
  rotate: -2deg;
}

#hero .box-2 {
  height: 70px;
  width: 368px;
  position: absolute;
  top: 304px;
  left: 65px;
  background-color: var(--son-color-bg2);
  rotate: -1deg;
}

#newsletter {
  background-color: #1D8C9A;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--son-gap-l);
  padding: var(--son-padding-xxl);
}

#newsletter > h4, #newsletter > h5 {
  color: var(--son-color-white);
}

#newsletter > h4 {
  font-weight: bold;
  font-size: var(--son-font-xl);
}

#newsletter > h5 {
  font-weight: lighter;
  font-size: var(--son-font-l);
}

#newsletter > form {
  background-color: var(--son-color-white);
  padding: var(--son-padding-xs);
  border-radius: var(--son-radius-buttons);
}

#newsletter > form > input {	
  border: none;
  text-align: start;
  font-size: var(--son-font-s);
  padding-left: var(--son-padding-s);
  outline: none;
}

#newsletter > form > button {
  background-color: var(--son-color-black );
  color: var(--son-color-white);
  border: none;
  border-radius: var(--son-radius-buttons);
  font-size: var(--son-font-s);
  padding: var(--son-padding-xs);
  cursor: pointer;
}

#footer {
  background-color: var(--son-color-black);
  height: 200px;
  display: flex;
  justify-content:space-between;
  align-items: start;
  padding: var(--son-padding-l) var(--son-padding-xxl);
  }

#footer * {
  color: var(--son-color-white);
}

#footer > .social {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 250px;
}

#footer > .social > div {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
}

#footer > .social > div > h2 {
  font-size: var(--son-font-l);
}

#footer > .social span {
  text-align: start;
  font-size: var(--son-font-m);
}

#footer > .social > ul {
  display: flex;
  gap: var(--son-gap-s);
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#footer > .social > ul > li {
  background-color: var(--son-color-bg2);
  border-radius: var(--son-radius-secundary);
  padding: var(--son-padding-xs);
  width: 35px;
  height: 35px;
}

#footer > .social > ul > li > img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#footer > .about {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: var(--son-gap-m);
}

#footer > .about ul {
  display: flex;
  flex-direction: column;
  gap: var(--son-gap-s);
}

#footer > .about li {
  text-align: start;
  cursor: pointer;
}

#footer > .about li:first-child {
  font-weight: bolder;
  cursor: default;
}